{% extends 'pages/base.jinja' %}

{% block title %}

    My Playlist

{% endblock %}


{% block content %}

    <h1>My Playlist</h1>

    <section id="songs">

        {%  for song in songs %}
        
        <p><a href="/song/{{ song.id }}">
        {{ song.title }}
        </a> </p>
        
        {% endfor%}

    </section>


{% endblock %}
