{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>Thing Details</h1>

    <article>

        <h3> {{ song.title }}</h3>
        <p> Duration: {{song.minutes}} minutes</p>

        <a role="button" href="/">Back to the list</a>
    </article>

{% endblock %}
