{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - New Thing

{% endblock %}


{% block content %}

    <h1>New Thing</h1>

    <article>

        <form action="/add-thing" method="POST" >
        
            <label>
            
                Title
                <input name="title" type="text" required>
            
            </label>
        
            <label>
            
                Duration
                <input name="minutes" type="number" required>
            
            </label>

            <button>Add the song to playlist!</button>


        </form>

    </article>

{% endblock %}
